nav {
    position: relative;
    text-align: right;
    left:0; 
    background-color: green;  
    border-bottom: 4px solid white;
    width: 100%; 
    float: right;
    z-index: 999;
}
.sidebar{
    display: none;
}
.text{
    margin:0;
    padding:0;
    width: 100%;
}
p{
    max-width: 1000px;
    display: block;
}
.shownav::before {
    content: '';
    position:absolute;
    width:100%;
    top: 0.3em;
    left: 0px;
    border-top: 0.2em solid white;
}
.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}
