nav {
    position: relative;
    text-align: right;
    left:0; 
    background-color: green;  
    border-bottom: 4px solid white;
    width: 100%; 
    float: right;
    z-index: 999;
}
nav ul { 
    margin:5px;
    padding:5px;
    list-style: none;

}
nav li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 12px;
}
nav a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color:black;
}